{% extends 'base.html' %}

{%block title%}{{contact.name}} {{contact.last_name}} | {%endblock%}

{% block 'conteudo' %}
<h1 class="mt-5">{{ contact.name }} {{ contact.last_name }}</h1>

{% if contact.photo %}
<p>
    <img src="{{ contact.photo.url}}" style="max-width: 250px; height: auto;">
</p>
{% endif %}

<dl>
    <dt>ID</dt>
    <dd>{{ contact.id }}</dd>

    <dt>Telephone</dt>
    <dd>{{ contact.telephone }}</dd>

    <dt>E-mail</dt>
    <dd>{{ contact.email }}</dd>

    <dt>Creation date</dt>
    <dd>{{ contact.creation_date|date:'d/m/Y' }}</dd>

    <dt>Category</dt>
    <dd>{{ contact.category }}</dd>

    <dt>Description</dt>
    <dd>{{ contact.description }}</dd>
</dl>

{% endblock %}